/* K52 - For integration into vanhoutte main site */
@media screen and (max-width: 640px) {
	body {
		/* GLOBALS */
/* 		min-width: 640px; */
		color: white;
		background-color: black;
		.sidebar {
			display: none;
		}
		.header {
			position: absolute;
			display: block;
			width: 100%;
			z-index: 10;
			#ir_header_continue {
				position: relative;
				display: block;
				height: auto;
				width: 100%;
				color: white;
				text-align: center;
				font-size: 40px;
				font-family: 'Houston-Reg';
				border-bottom: 2px solid white;
				background-color: black;
				.ir_xBtn {
					display: none;
				}
				.ir_header_deskNav {
					position: relative;
					display: none;
				}
				ir_header_continue_a {
					position: relative;
					display: block;
					padding: 8px 0 3px;
				}
			}
			.ir_header_menuBurger {
				position: relative;
				display: inline-block;
				float: right;
				width: 45px;
				height:40px;
				margin: 30px 40px;
				a {
					position: relative;
					display: block;
					line-height: 0.3em;
				}
				.ir_header_menuBurger_lines {
					position: relative;
					display: inline-block;
					background-color: white;
					height: 5px;
					width: 100%;
					margin: 5px 0;
					border-radius: 3px;
				}
				.nav {
					display: none;
				}
			}
		}
		.main {
			position: relative;
			display: block;
			height: auto;
			width: 100%;
			overflow: visible;
			#ir_main_content {
				position: relative;
				display: block;
				height: auto;
				width: auto;
				margin: 0;
				#ir_main_nav {
				    position: relative;
				    display: none;
				    /*background-color: grey;*/
				    width: 100vw;
				    height: 145px;
				    margin: 32px 65px;
				    padding: 0;
					.ir_main_col_left {
						position: relative;
						display: inline-block;
						float: left;
					}
					.ir_main_col_right {
						position: relative;
						display: inline-block;
						float: right;
						.ir_main_nav_container {
							text-align: right;
							.ir_main_nav_lnk {
								position: relative;
								display: inline-block;
								padding-right: 15px;
								font-family: sans-serif;
								text-decoration: none;
								text-transform: uppercase;
								font-size: 20px;
							}
							.ir_main_nav_nav1, .ir_main_nav_nav2, .ir_main_nav_nav3 {
								position: relative;
								display: inline-block;
								line-height: 10px;
								background-color: red;
							}
							.ir_main_nav_nav1, .ir_main_nav_nav2 {
								border-right: 1px solid #564c40;
								padding: 15px;
							}
							.ir_main_nav_nav3 {
								padding-left: 15px;
							}
						}
					}
				}
				#ir_main_cta {
					height: 100%;
					width: 100%;
					position: relative;
					display: block;
					padding: 0;
					margin: 0;
					border: none;
					background-image: url('http://staging.idearebel.com/k52/app/assets/img/k52_bgmatte.jpg');
					background-position: center center;
					background-size: cover;
				    .ir_main_bg {
						position: relative;
						display: inline-block;
						height: 1050px;
						padding: 0;
						width: auto;
						margin: 80px 20px 20px 20px;
						border: 1px solid #564c40;
						background-image: url('http://staging.idearebel.com/k52/app/assets/img/k52_bgmatte.jpg');
						background-position: center center;
						background-size: cover;
						.ir_main_cta_content {
							position: relative;
							display: block;
							height: 100%;
						}
				    }
				    .ir_main_cta_logo {
				    	display: none;
				    }
				    .ir_main_cta_cs {
						position: relative;
						display: block;
						padding: 90px 0 0 0;
						h1 {
							position: relative;
							display: block;
							margin: 0 auto;
							text-align: center;
							font-size: 55px;
							font-family: 'ClarendonLTStd-Bold';
							line-height: 1.2em;
							color: #948364;
						}
					}
					.ir_main_cta_copy1 {
						position: relative;
						display: inline-block;
						text-align: center;
						font-family: 'BentonSans-Book';
					    line-height: 1.2em;
					    font-size: 30px;
					    margin: 35px 0;
					    h2 {
					    	margin: 0 auto;
					    	width: 70%;
							font-family: 'BentonSans-Book';
						    line-height: 45px;
							font-size: 30px;
					    }
					}
					.ir_main_cta_copy2 {
						position: relative;
						display: block;
						margin: 0 auto;
						text-align: center;
					    font-size: 30px;
					    margin: 35px 0;
						h2 {
							width: 60%;
							font-family: 'BentonSans-Book';
						    line-height: 45px;
							font-size: 30px;
						}
					}
					.ir_main_cta_btn {
						display: block;
						margin: 0 auto;
						width: 60%;
						margin: 0 auto;
						padding: 5px 25px 0px;
						font-family: 'Houston-Reg';
						text-align: center;
						font-size: 38px;
						letter-spacing: 3px;
						background-color: #948364;
					}
					.ir_main_products {
						position: absolute;
						display: inline-block;
						height: auto;
						width: 100%;
						bottom: 0;
						right: 0;
						.ir_main_ctaDesk_img {
							display: none;
						}
						.ir_main_cta_img {
							position: absolute;
							display: inline-block;
							width: 85%;
							right: 0;
							float: right;
							bottom: inherit;
						}
					}
				}
			}
			#ir_lcta {
				position: relative;
				display: inline-block;
				margin: 0 auto;
				padding: 0 20% 0 40px;
				width: 100%;
				height: auto;
				font-size: 30px;
				background-color: black;
				.ir_lcta_copy {
					h1 {
						font-size: 55px;
						font-family: 'ClarendonLTStd-Bold';
						line-height: 1.2em;
						color: #948364;
					}
				}
				.ir_lcta_copy3 {
					margin: 65px 0;
					color: #a6a6a6;
				}
			}
			#ir_form {
				position: relative;
				display: inline-block;
				padding: 20px;
				margin: 0;
				background-color: white;
				font-size: 30px;
				color: black;
				.ir_form_error {
					display: none;
					color: red;
					font-size: 18px;
					border: 2px solid red;
					padding: 5px 10px;
				}
				.ir_form_cntnt1 {
					position: relative;
					display: inline-block;
					width: 100%;
					color: #948364;
					hr {
						border: none;
						border-top: 3px dotted #948364;
						width: 100%;
					}
					.ir_form_dots {
						display: block;
						margin-bottom: 20px;
						height: 200px;
						width: 100%;
					}
					.ir_form_cntnt1_title1 {
						width: 100%;
						margin: 50px 20px 0;
						line-height: 0.8em;
						font-family: 'Houston-Reg';
						font-size: 70px;
						float: left;
					}
					.ir_form_cntnt1_title2 {
						margin: 0 20px;
						font-family: 'ClarendonLTStd';
						font-size: 30px;
						float: left;
					}
				}
				.ir_form_cntnt2 {
					position: relative;
					display: inline-block;
					color: #948364;
					margin: 0 20px;
					.ir_form_cntnt1_title1 {
						width: 100%;
						margin: 50px 20px 0;
						line-height: 0.8em;
						font-family: 'Houston-Reg';
						font-size: 70px;
						float: left;
					}
					.ir_form_cntnt1_title2 {
						margin: 0 20px;
						font-family: 'ClarendonLTStd';
						font-size: 30px;
						float: left;
					}
					input {
						width: 100%;
						height: 50px;
						margin: 30px 0;
						padding: 15px;
						font-family: 'BentonSans-Book';
						border: 1px solid grey;
						::-webkit-input-placeholder:after {
						   color:red;
						   content:"*";
						   opacity: 1;
						}
					
					}
					input:last-of-type {
						margin-bottom: 10px;
					}
					.ir_form_cntnt1_title1 {
						width: 100%;
						margin: 80px 20px 0;
						line-height: 0.8em;
						font-family: 'Houston-Reg';
						font-size: 70px;
						float: left;
					}
					.ir_form_cntnt1_title2 {
						margin: 0 20px;
						font-family: 'ClarendonLTStd';
						font-size: 30px;
						float: left;
					}
					.ir_form_upcHelp {
						padding: 5px;
						font-size: 22px;
						color: grey;
						font-style: italic;
						.ir_form_upcHelp {
							padding: 5px 20px;
							background-color: #e1e1e1;
							color: grey;
							font-size: 18px;
						}
					}
					.ir_form_dots {
						display: block;
						margin-bottom: 20px;
						height: 200px;
						width: 100%;
					}
				}
				.ir_form_cntnt3 {
					position: relative;
					display: inline-block;
					color: #948364;
					margin: 0;
					.ir_form_cntnt3_forms {
						position: relative;
						display: inline-block;
						width: 100%;
						margin: 0 20px;
						padding: 0 20px;
						input {
							width: 100%;
							height: 50px;
							margin: 30px 0;
							padding: 15px;
							font-family: 'BentonSans-Book';
							border: 1px solid grey;
						}
						.ir_form_upcHelp {
							padding: 10px 0;
							font-size: 22px;
							color: grey;
							font-style: italic;
							.ir_form_upcHelp {
								padding: 10px 20px 5px 20px;
								background-color: #e1e1e1;
								color: grey;
								font-size: 18px;
							}
						}
					}
					.ir_form_dots {
						display: block;
						margin-bottom: 20px;
						height: 200px;
						width: 100%;
					}
					.ir_form_cntnt1_title1 {
						width: 100%;
						margin: 80px 0;
						line-height: 0.8em;
						font-family: 'Houston-Reg';
						font-size: 70px;
						float: left;
					}
					.ir_form_cntnt1_title2 {
						margin: 0 20px;
						font-family: 'ClarendonLTStd';
						font-size: 30px;
						float: left;
					}
					.ir_form_drop1 {
						position: relative;
						display: inline-block;
						width: auto;
						height: auto;
						margin: 20px;
						color: black;
						.ir_form_d1_title {
							width: 100%;
							padding: 5px 30% 5px 15px;
							border: 1px solid grey;
						}
						.ir_form_d1_btn {
							position: absolute;
							display: block;
							float: right;
							right: 30px;
							top: 40px;
							width: 0;
							height: 0;
							border-top: 20px solid black;
							border-left: 20px solid transparent;
							border-right: 20px solid transparent;
						}
						.ir_form_d1_btn:hover {
							border-top: 20px solid grey;							
						}
						.ir_form_d1_itms {
							display: none;
							.ir_form_d1_itms_1 {

							}
						}
						#ir_form_products {
							position: relative;
							display: inline-block;
							width: 100%;
							height: auto;
							margin: 30px 0;
							padding: 15px;
							font-family: 'BentonSans-Book';
							border: 1px solid grey;
							.ir_drop1_txt {
								position: relative;
								display: inline-block;
								width: 70%;
							}
							.ir_form_productList {
								position: relative;
								display: inline-block;
								width: 100%;
								border: none;
							}
						}
					}
					.ir_form_drop2 {
						position: relative;
						display: inline-block;
						width: 100%;
						max-width: 93%;
						height: auto;
						margin: 20px;
						color: black;
						.ir_form_d1_title {
							width: 100%;
							padding: 5px 15px;
							border: 1px solid grey;
						}
						.ir_form_d1_btn {
							position: absolute;
							display: block;
							float: right;
							right: 30px;
							top: 20px;
							width: 0;
							height: 0;
							border-top: 20px solid black;
							border-left: 20px solid transparent;
							border-right: 20px solid transparent;
						}
						.ir_form_d1_btn:hover {
							border-top: 20px solid grey;							
						}
						.ir_form_d1_itms {
							display: none;
							.ir_form_d1_itms_1 {

							}
						}
						#ir_form_products {
							position: relative;
							display: inline-block;
							width: 100%;
							height: auto;
							margin: 30px 0;
							padding: 15px;
							font-family: 'BentonSans-Book';
							border: 1px solid grey;
							.ir_drop1_txt {
								position: relative;
								display: inline-block;
								width: 70%;
							}
							.ir_form_productList {
								position: relative;
								display: inline-block;
								width: 100%;
								border: none;
							}
						}
					}
					.ir_form_cntnt1_title1 {
						width: 100%;
						margin: 60px 20px 0;
						line-height: 0.8em;
						font-family: 'Houston-Reg';
						font-size: 70px;
						float: left;
					}
					.ir_form_cntnt1_title2 {
						margin: 0 20px;
						font-family: 'ClarendonLTStd';
						font-size: 30px;
						float: left;
					}
				}
				.ir_form_checkBoxes {
					position: relative;
					display: inline-block;
					width: auto;
					margin: 20px 20px;
					.ir_form_box1, .ir_form_box2 {
						position: relative;
						display: inline-block;
						margin: 15px 0;
						width: 100%;
					}
					input {
						display: inline-block;
						float: left;
						margin-top: 0.5em;
						margin-right: 15px;
						width: auto;
					}
					.ir_form_boxSpan {
						position: relative;
						display: inline-block;
						float: left;
						width: 80%;
					}
				}
				.ir_form_btn {
					position: relative;
					display: inline-block;
					width: 260px;
					height: 70px;
					margin: 20px;
					padding: 10px 10px;
					color: white;
					text-align: center;
					font-family: 'Houston-Reg';
					font-size: 38px;
					letter-spacing: 0.05em;
					background-color: #948364;
				}
			}
			#ir_ctaLower {
				position: relative;
				display: block;
				width: 100%;
				background-color: black;
				padding-top: 70px;
				.ir_beans {				
					position: relative;
					display: block;
					height: 1370px;
					width: auto;
					padding: 40px 40px 40px 40px;
					background-color: black;
					background-image: url('http://staging.idearebel.com/k52/app/assets/img/k52_beans.gif');
					background-position: center top;
					background-size: contain;
					background-repeat: no-repeat;
					.ir_beans_cntnt {
						position: relative;
						display: block;
						margin-top: 1000px; 
						.ir_beans_copy {
							.ir_beans_title {
								display: inline-block;
								width: auto;
								font-family: 'ClarendonLTStd-Bold';
								font-size: 55px;
								color: #948364;
								br {
									display: none;
								}
							}
							.ir_beans_socBlrb {
								display: inline-block;
								width: 100%;
								font-size: 30px;
							}
						}
						.ir_beans_btns {
							display: inline-block;
							width: 100%;
							margin: 20px 0;
							.ir_beans_btn1, .ir_beans_btn2 {
								position: relative;
								display: inline-block;
								width: 260px;
								height: 70px;
								padding: 10px 10px;
								color: white;
								text-align: center;
								font-family: 'Houston-Reg';
								font-size: 38px;
								letter-spacing: 0.05em;
								background-color: #948364;
							}
							.ir_beans_btn2 {
								float: right;
							}
						}
					}
				}
			}
		}
		.footer {
			position: relative;
			display: block;
			width: auto;
			padding: 40px;
			color: white;
			background-color: black;
			border-top: 2px solid #948364;
			#ir_footer_copy {
				position: relative;
				display: inline-block;
				width: auto;
				background-color: black;
				color: white;
				font-size: 24px;
				text-transform: uppercase;
			}
		}
	}
}

@media screen and (min-width: 641px) {
	body {
		/* GLOBALS */
		min-width: 1280px;
		max-width: 1280px;
		margin: 0 auto;
		color: white;
		background-color: black;
		.sidebar {
			display: none;
		}
		.header {
			position: absolute;
			display: block;
			width: 50%;
			z-index: 10;
			margin: 25px;
			top: 30px;
			right: 40px;
			#ir_header_continue {
				position: relative;
				display: block;
				height: auto;
				width: 100%;
				color: white;
				text-align: right;
				font-size: 20px;
				font-family: 'Houston-Reg';
				ir_header_continue_a {
					position: relative;
					display: block;
					padding: 5px 0 3px;
				}
				.ir_xBtn {
					height: 15px;
					margin: 0 15px;
				}
				.ir_header_deskNav {
					position: relative;
					display: block;
					float: right;
					width: 100%;
					font-family: 'ClarendonLTStd';
					span {
						margin: 0;
						padding: 0 20px;
						font-size: 12px;
					}
					.ir_main_nav_nav1 {
						position: relative;
						display: inline-block;
						border-right: 2px solid #948364;
					}
					.ir_main_nav_nav2 {
						position: relative;
						display: inline-block;
						border-right: 2px solid #948364;
					}
					.ir_main_nav_nav3 {
						position: relative;
						display: inline-block;
					}
				}
			}
			.ir_header_menuBurger {
				position: relative;
				display: none;
				float: right;
				width: 45px;
				height:40px;
				margin: 30px 40px;
				a {
					position: relative;
					display: block;
					line-height: 0.3em;
				}
				.ir_header_menuBurger_lines {
					position: relative;
					display: inline-block;
					background-color: white;
					height: 5px;
					width: 100%;
					margin: 5px 0;
					border-radius: 3px;
				}
				.nav {
					display: none;
				}
			}
		}
		.main {
			position: relative;
			display: block;
			height: auto;
			width: 100%;
			overflow: visible;
			#ir_main_content {
				position: relative;
				display: block;
				height: auto;
				width: auto;
				margin: 0;
				background-color: black;
				#ir_main_nav {
				    position: relative;
				    display: none;
				    /*background-color: grey;*/
				    width: 100vw;
				    height: 145px;
				    margin: 32px 65px;
				    padding: 0;
					.ir_main_col_left {
						position: relative;
						display: inline-block;
						float: left;
					}
					.ir_main_col_right {
						position: relative;
						display: inline-block;
						float: right;
						.ir_main_nav_container {
							text-align: right;
							.ir_main_nav_lnk {
								position: relative;
								display: inline-block;
								padding-right: 15px;
								font-family: sans-serif;
								text-decoration: none;
								text-transform: uppercase;
								font-size: 20px;
							}
							.ir_main_nav_nav1, .ir_main_nav_nav2, .ir_main_nav_nav3 {
								position: relative;
								display: inline-block;
								line-height: 10px;
								background-color: red;
							}
							.ir_main_nav_nav1, .ir_main_nav_nav2 {
								border-right: 1px solid #564c40;
								padding: 15px;
							}
							.ir_main_nav_nav3 {
								padding-left: 15px;
							}
						}
					}
				}
				#ir_main_cta {
				    position: relative;
				    display: inline-block;
					height: 860px;
					padding: 90px;
				    width: auto;
				    margin: 20px 20px 20px 20px;
				    border: 1px solid #564c40;
					background-image: url(http://staging.idearebel.com/k52/app/assets/img/k52_bgmatte.jpg);
					background-position: center center;
					background-size: cover;
				    .ir_main_bg {
						position: relative;
						display: block;
						height: 100%;
						width: 100%;
				    }
				    .ir_main_cta_logo {
				    	position: relative;
				    	display: block;
				    	width: auto;
				    	height: 77px;
				    }
				    .ir_main_cta_content {
						position: relative;
						display: block;
						height: 100%;
						width: 100%;
						padding: 100px;
				    }
					.ir_main_cta_cs h1 {
					    position: relative;
					    display: block;
					    margin: 0 auto;
					    text-align: left;
					    font-size: 55px;
					    font-family: 'ClarendonLTStd-Bold';
						line-height: 1.2em;
					    color: #948364;
					}
					.ir_main_cta_copy1 {
						position: relative;
						display: block;
						text-align: left;
						font-family: 'BentonSans-Book';
						font-size: 24px;
						line-height: 1.4em;
						width: 45%;
					    margin: 35px 0;
					    h2 {
					    	width: 100%;
							font-family: 'BentonSans-Book';
						    line-height: 45px;
							font-size: 30px;
					    }
					}
					.ir_main_cta_copy2 {
						position: relative;
						display: block;
						margin: 0 auto;
						text-align: left;
					    font-size: 24px;
					    margin: 35px 0;
						h2 {
							width: 60%;
							font-family: 'BentonSans-Book';
						    line-height: 45px;
							font-size: 30px;
						}
					}
					.ir_main_cta_btn {
						position: relative;
						display: block;
						width: 360px;
						padding: 5px 25px 0px;
						font-family: 'Houston-Reg';
						text-align: center;
						font-size: 38px;
						letter-spacing: 3px;
						background-color: #948364;
					}
					.ir_main_products {
						position: absolute;
						display: inline-block;
						height: auto;
						width: auto;
						bottom: initial;
						top: 70px;
						right: -20px;
						.ir_main_ctaDesk_img {
							position: relative;
							display: block;
							width: 115%;
						}
						.ir_main_cta_img {
							position: absolute;
							display: none;
							width: 85%;
							right: 0;
							float: right;
							bottom: inherit;
						}
					}
				}
			}
			#ir_formHousing {
				position: relative;
				display: inline-block;
				width: 100%;
				padding-top: 60px;
				margin-bottom: 40px;
			}
			#ir_lcta {
				position: relative;
				display: inline-block;
				margin: 0 auto;
				padding: 0 10% 0 9%;
				width: 50%;
				float: left;
				height: auto;
				font-size: 18px;
				background-color: black;
				.ir_lcta_copy {
					h1 {
						margin-bottom: 10px;
						width: 80%;
						font-size: 55px;
						font-family: 'ClarendonLTStd-Bold';
						line-height: 1.2em;
						color: #948364;
					}
				}
				.ir_lcta_copy3 {
					margin: 25px 0;
					color: #a6a6a6;
				}
			}
			#ir_form {
				position: relative;
				display: inline-block;
				width: 45%;
				margin: 0 5% 0 0;
				padding: 0 5% 30px 5%;
				float: right;
				background-color: white;
				font-size: 18px;
				color: black;
				.ir_form_error {
					display: block;
					color: red;
					font-size: 14px;
					border: 1px solid red;
					padding: 5px 10px;
				}
				.ir_form_cntnt1_title1 {
					font-size: 18px;
				}
				.ir_form_cntnt1 {
					position: relative;
					display: inline-block;
					width: 100%;
					color: #948364;
					hr {
						border: none;
						border-top: 3px dotted #948364;
						width: 100%;
					}
					.ir_form_dots {
						display: block;
						margin-bottom: 20px;
						height: 200px;
						width: 100%;
					}
					.ir_form_cntnt1_title1 {
						width: 100%;
						margin: 100px 20px 0;
						line-height: 0.8em;
						font-family: 'Houston-Reg';
						font-size: 40px;
						float: left;
					}
					.ir_form_cntnt1_title2 {
						margin: 0 20px;
						font-family: 'ClarendonLTStd';
						font-size: 18px;
						float: left;
					}
				}
				.ir_form_cntnt2 {
					position: relative;
					display: inline-block;
					color: #948364;
					margin: 0 20px;
					.ir_form_cntnt1_title1 {
						width: 100%;
						margin: 50px 20px 0;
						line-height: 0.8em;
						font-family: 'Houston-Reg';
						font-size: 70px;
						float: left;
					}
					.ir_form_cntnt1_title2 {
						margin: 0 20px;
						font-family: 'ClarendonLTStd';
						font-size: 30px;
						float: left;
					}
					input {
						width: 100%;
						height: 50px;
						margin: 20px 0;
						padding: 15px;
						font-size: 18px;
						height: 40px;
						font-family: 'BentonSans-Book';
						border: 1px solid grey;
						::-webkit-input-placeholder:after {
						   color:red;
						   content:"*";
						   opacity: 1;
						}
					}
					input:last-of-type {
						margin-bottom: 10px;
					}
					input::-webkit-input-placeholder:after {
						content: "*";
						color: red;
					}

					input::-moz-placeholder {
						color: red;
					}

					input::-moz-placeholder:after {
						content: "*";
						color: red;
					}

					input:-ms-input-placeholder {
						color: red;
					}

					input:-ms-input-placeholder:after {
						content: "*";
						color: red;
					}
					.ir_form_field_prov {
						display: inline-block;
						float: left;
						width: 48%;
					}
					.ir_form_field_postal {
						display: inline-block;
						float: right;
						width: 48%;
						padding: 5px;
					}
					.ir_form_error_prov, .ir_form_error_postal {
						display: inline-block;
						width: 100%;
					}
					.ir_form_cntnt1_title1 {
						width: 100%;
						margin: 80px 20px 0;
						line-height: 0.8em;
						font-family: 'Houston-Reg';
						font-size: 70px;
						float: left;
					}
					.ir_form_cntnt1_title2 {
						margin: 0 20px;
						font-family: 'ClarendonLTStd';
						font-size: 30px;
						float: left;
					}
					.ir_form_upcHelp {
						font-size: 22px;
						color: grey;
						font-style: italic;
						.ir_form_upcHelp {
							padding: 5px 10px;
							background-color: #e1e1e1;
							color: grey;
							font-size: 18px;
						}
					}
					.ir_form_dots {
						display: block;
						margin-bottom: 20px;
						height: 200px;
						width: 100%;
					}
				}
				.ir_form_cntnt3 {
					position: relative;
					display: inline-block;
					color: #948364;
					margin: 0;
					.ir_form_dots {
						display: block;
						margin-bottom: 20px;
						height: 200px;
						width: 100%;
					}
					.ir_form_cntnt1_title1 {
						width: 100%;
						margin: 80px 20px 0;
						line-height: 0.8em;
						font-family: 'Houston-Reg';
						font-size: 40px;
						float: left;
					}
					.ir_form_cntnt1_title2 {
						margin: 0 20px;
						font-family: 'ClarendonLTStd';
						font-size: 18px;
						float: left;
					}
					.ir_form_cntnt3_forms {
						position: relative;
						display: inline-block;
						margin: 0 20px;
						input {
							width: 100%;
							height: 40px;
							margin: 20px 0;
							padding: 15px;
							font-family: 'BentonSans-Book';
							font-size: 18px;
							border: 1px solid grey;
						}
						.ir_form_upcHelp {
							text-align: center;
							font-size: 14px;
							color: grey;
							font-style: italic;
							.ir_form_upcHelp {
								padding: 5px 20px;
								font-size: 11px;
								background-color: #e1e1e1;
								color: grey;
								text-align: left;
							}
						}
					}
				.ir_form_cntnt4 {
					.ir_form_drop1 {
						position: relative;
						display: inline-block;
						width: auto;
						height: auto;
						margin: 20px 15px;
						color: black;
						.ir_form_d1_title {
							width: 100%;
							padding: 5px 30% 5px 15px;
							border: 1px solid grey;
						}
						.ir_form_d1_btn {
							position: absolute;
							display: block;
							float: right;
							top: 30px;
							right: 20px;
							width: 0;
							height: 0;
							border-top: 10px solid black;
							border-right: 10px solid transparent;
							border-left: 10px solid transparent;
						}
						.ir_form_d1_itms {
							display: none;
							.ir_form_d1_itms_1 {

							}
						}
						#ir_form_products {
							position: relative;
							display: inline-block;
							width: 100%;
							height: auto;
							margin: 30px 0;
							padding: 15px;
							font-family: 'BentonSans-Book';
							border: 1px solid grey;
							.ir_drop1_txt {
								position: relative;
								display: inline-block;
								width: 70%;
							}
							.ir_form_productList {
								position: relative;
								display: inline-block;
								width: 100%;
								border: none;
							}
						}
					}
					.ir_form_drop2 {
						position: relative;
						display: inline-block;
						width: 100%;
						max-width: 93%;
						height: auto;
						margin: 20px 20px 10px 15px;
						color: black;
						.ir_form_d1_title {
							width: 100%;
							padding: 5px 15px;
							border: 1px solid grey;
						}
						.ir_form_d1_btn {
							position: absolute;
							display: block;
							float: right;
							top: 15px;
							right: 20px;
							width: 0;
							height: 0;
							border-top: 10px solid black;
							border-right: 10px solid transparent;
							border-left: 10px solid transparent;
						}
						.ir_form_d1_btn:hover {
							border-top: 20px solid grey;							
						}
						.ir_form_d1_itms {
							display: none;
							.ir_form_d1_itms_1 {

							}
						}
						#ir_form_products {
							position: relative;
							display: inline-block;
							width: 100%;
							height: auto;
							margin: 30px 0;
							padding: 15px;
							font-family: 'BentonSans-Book';
							border: 1px solid grey;
							.ir_drop1_txt {
								position: relative;
								display: inline-block;
								width: 70%;
							}
							.ir_form_productList {
								position: relative;
								display: inline-block;
								width: 100%;
								border: none;
							}
						}
					}
					.ir_form_cntnt1_title1 {
						width: 100%;
    					margin: 80px 20px 0;
						line-height: 0.8em;
						font-family: 'Houston-Reg';
						font-size: 40px;
						float: left;
					}
					.ir_form_cntnt1_title2 {
						margin: 0 20px;
						font-family: 'ClarendonLTStd';
						font-size: 18px;
						float: left;
					}				
					.ir_form_checkBoxes {
						position: relative;
						display: inline-block;
						width: auto;
						margin: 10px;
						.ir_form_box1, .ir_form_box2 {
							position: relative;
							display: inline-block;
							margin: 5px 0;
							width: 100%;
						}
						input {
							display: inline-block;
							float: left;
							margin-top: 0.5em;
							margin-right: 15px;
							width: auto;
						}
						.ir_form_boxSpan {
							position: relative;
							display: inline-block;
							float: left;
							width: 80%;
						}
					}
					.ir_form_btn {
						position: relative;
						display: inline-block;
						float: right;
						width: 175px;
						height: 58px;
						margin: 20px;
						padding: 10px 10px;
						color: white;
						text-align: center;
						font-family: 'Houston-Reg';
						font-size: 25px;
						letter-spacing: 0.05em;
						background-color: #948364;
					}
				}
			}
			}
			#ir_ctaLower {
				position: relative;
				display: inline-block;
				float: left;
				width: 50%;
				background-color: black;
				padding-top: 20px;
				.ir_beans {				
					position: relative;
					display: block;
					height: 1370px;
					width: auto;
					padding: 40px 40px 40px 40px;
					background-color: black;
					background-image: url('http://staging.idearebel.com/k52/app/assets/img/k52_beans.gif');
					background-position: center top;
					background-size: contain;
					background-repeat: no-repeat;
					.ir_beans_cntnt {
						position: relative;
						display: block;
						width: 80%;
						margin: 1000px auto 0;
						.ir_beans_copy {
							.ir_beans_title {
								display: inline-block;
								width: auto;
								font-family: 'ClarendonLTStd-Bold';
								font-size: 55px;
								line-height: 1em;
								color: #948364;
								br {
									display: block;
								}
							}
							.ir_beans_socBlrb {
								display: inline-block;
								width: 100%;
								font-size: 30px;
								br {
									display: none;
								}
							}
						}
						.ir_beans_btns {
							display: inline-block;
							width: 100%;
							margin: 20px 0;
							.ir_beans_btn1, .ir_beans_btn2 {
								position: relative;
								display: inline-block;
								width: 210px;
								height: 70px;
								padding: 10px 10px;
								color: white;
								text-align: center;
								font-family: 'Houston-Reg';
								font-size: 38px;
								letter-spacing: 0.05em;
								background-color: #948364;
							}
							.ir_beans_btn2 {
								float: right;
							}
						}
					}
				}
			}
		}
		.footer {
			position: relative;
			display: inline-block;
			width: auto;
			padding: 40px;
			color: white;
			background-color: black;
			border-top: 2px solid #948364;
			#ir_footer_copy {
				position: relative;
				display: inline-block;
				width: auto;
				background-color: black;
				color: white;
				font-size: 12px;
				text-transform: uppercase;
			}
		}
	}
}