@font-face {
  font-family:'BentonSans-Bold';
  src:url('../fonts/BentonSans-Bold.otf');
  /*src:url('../fonts/font-name.eot?#iefix') format('embedded-opentype'),
    url('../fonts/font-name.woff') format('woff'),
    url('../fonts/font-name.ttf') format('truetype'),
    url('../fonts/font-name.svg#font-name') format('svg');*/
    font-weight:normal;
    font-style:normal;
}
@font-face {
  font-family:'BentonSans-Book';
  src:url('../fonts/BentonSans-Book.otf');
  /*src:url('../fonts/font-name.eot?#iefix') format('embedded-opentype'),
    url('../fonts/font-name.woff') format('woff'),
    url('../fonts/font-name.ttf') format('truetype'),
    url('../fonts/font-name.svg#font-name') format('svg');*/
    font-weight:normal;
    font-style:normal;
}

@font-face {
  font-family:'BentonSans-Regular';
  src:url('../fonts/BentonSans-Regular.otf');
  /*src:url('../fonts/font-name.eot?#iefix') format('embedded-opentype'),
    url('../fonts/font-name.woff') format('woff'),
    url('../fonts/font-name.ttf') format('truetype'),
    url('../fonts/font-name.svg#font-name') format('svg');*/
    font-weight:normal;
    font-style:normal;
}

@font-face {
  font-family:'ClarendonLTStd-Bold';
  src:url('../fonts/ClarendonLTStd-Bold.otf');
  /*src:url('../fonts/font-name.eot?#iefix') format('embedded-opentype'),
    url('../fonts/font-name.woff') format('woff'),
    url('../fonts/font-name.ttf') format('truetype'),
    url('../fonts/font-name.svg#font-name') format('svg');*/
    font-weight:normal;
    font-style:normal;
}

@font-face {
  font-family:'ClarendonLTStd';
  src:url('../fonts/ClarendonLTStd.otf');
  /*src:url('../fonts/font-name.eot?#iefix') format('embedded-opentype'),
    url('../fonts/font-name.woff') format('woff'),
    url('../fonts/font-name.ttf') format('truetype'),
    url('../fonts/font-name.svg#font-name') format('svg');*/
    font-weight:normal;
    font-style:normal;
}

@font-face {
  font-family:'Houston-Reg';
  src:url('../fonts/Houston-Reg.otf');
  /*src:url('../fonts/font-name.eot?#iefix') format('embedded-opentype'),
    url('../fonts/font-name.woff') format('woff'),
    url('../fonts/font-name.ttf') format('truetype'),
    url('../fonts/font-name.svg#font-name') format('svg');*/
    font-weight:normal;
    font-style:normal;
}

@font-face {
  font-family:'HoustonBold';
  src:url('../fonts/HoustonBold.otf');
  /*src:url('../fonts/font-name.eot?#iefix') format('embedded-opentype'),
    url('../fonts/font-name.woff') format('woff'),
    url('../fonts/font-name.ttf') format('truetype'),
    url('../fonts/font-name.svg#font-name') format('svg');*/
    font-weight:normal;
    font-style:normal;
}